.main {
    padding: 0 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    border: 2px solid black;
    margin: 0px auto;
}

.field {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}